# Godot 4+ specific ignores
.godot/
/android/
C:/Users/Andy/Desktop/FADU/DyPVJ/me-cuesta-dormir-cuando-llueve/Puzzle Stoplights/Mapa.blend
C:/Users/Andy/Desktop/FADU/DyPVJ/me-cuesta-dormir-cuando-llueve/Puzzle Stoplights/Mapa.blend1